<div class="container has-text-centered">
	<h1 class="title">
		About Me
	</h1>
</div>
<div class="container" id="about">
		<p>Hi, I'm Derek, and I'm a DIY guy, or a "Maker". That means I make things, all kinds of things. I went to a technical college and got two diplomas in machining. But, I'm also a practiced carpenter, and software developer. I make things out of metal, wood, random electronic components, and really anything else. </p>
		<p>If you like what you see here, and want to help keep this site running, consider throwing 0.001 ether my way.<br>My Ether address: 0x548D34b05915be1F024c60F1a5796AA084A99800</p>
</div><br>


<div class="container has-text-centered">
	<h1 class="title">
		About This Site
	</h1>
</div>
<div class="container" id="about">
		<p>
				I said I'm a DIY guy, and this website is no exception. I built this site with Ruby on Rails and host it on a Linode server, running Ubuntu 18.04, Bionic Beaver(amazing OS name). The web app is served with Nginx+Phusion Passenger. This site would not be possible without any of these frameworks/applications, and I like giving them their due credit.
		</p>
		<p>
				You can read more about all of these things, at the links provided here.<br>
				<a href="https://www.rubyonrails.org" target="_blank">Ruby On Rails</a><br>
				<a href="https://www.ubuntu.com" target="_blank">Ubuntu</a><br>
				<a href="https://www.linode.com" target="_blank">Linode</a><br>
				<a href="https://www.nginx.org" target="_blank">Nginx</a><br>
				<a href="https://www.phusionpassenger.com" target="_blank">Phusion Passenger</a><br>
		</p>
</div>
