<div id="project-form">
	<%= form_for @project do |f|  %>
		<%= f.label :title  %><br>
		<%= f.text_field :title  %><br>
		<%= f.label :thumbnail  %><br>
		<%= f.file_field :thumbnail  %><br>
		<%= f.label :body  %><br>
		<%= f.cktext_area :body  %><br>
		<%= f.label :description  %><br>
		<%= f.text_field :description  %><br>
		<%= f.label :download  %><br>
		<%= f.file_field :download  %><br>
		<%= f.label :downloadDescription  %><br>
		<%= f.text_field :downloadDescription  %><br>
		<%= f.label :tags  %><br>
		<%= f.text_field :tags  %><br>
		<%= f.label :published   %>
		<%= f.check_box :published  %><br>
		<%= f.submit  %>
	<% end  %>
</div>
