<% @projects.each do |project|  %>
			<% if project.published  %>
					<a href="<%= project_path(project)  %>">
							<div class="card">
										<% if not project.thumbnail.file.nil?  %>
											<div class="card-image">
												<figure class="image">
													<%= image_tag(project.thumbnail.url)  %>
												</figure>
											</div>
										<% end  %>
								<div class="card-content">
										<h4 class="title is-4"><%= project.title  %></h4><hr>
										<div class="content">
											<p><%= project.description  %></p>
										</div>
										<footer style="text-align: right">
												<p>	<%= project.created_at.to_time.strftime('Published: %B %e at %l:%M %p')  %></p>
										</footer>
								</div>
							</div>
					</a><br>
			<% end  %>
<% end  %>
