<div class="container has-text-centered">
		<h1>Downloads</h1>
</div>

<% @projectDownloads.each do |project|  %>
		<% if not project.download.file.nil? and project.published %>
			<div class="card">
					<header class="card-header">
							<h1 class="card-header-title is-centered">
									<%= project.title  %>
							</h1>
					</header>
					<div class="card-content">
							<div class="content has-text-centered">
										<%= project.downloadDescription  %>
							</div>
					</div>
					<footer class="card-footer">
							<span class="card-footer-item has-text-centered">
									<a href="<%= project_url(project)  %>">Read Post</a>
							</span>
							<span class="card-footer-item has-text-centered">
									<p style="display:inline">Download:&nbsp;</p>
									<a href="<%= project.download.url  %>"><%= project.download.file.filename  %></a>
							</span>
					</footer>
			</div><br>
		<% end  %>
<% end  %>
