<!--<section class="hero is-primary">
		<div class="hero-body">
				<div class="container has-text-centered">
						<h1 class="title">
								Projects
						</h1>
				</div>
		</div>
</section><br>-->
<div id="main-title">
		<h1 class="title is-4">Cool Stuff I've Made</h1>
</div>
<div class="columns">
		<div class="column">
				<%= render 'projects'  %>
		</div>
</div>

<%= will_paginate @projects  %>
