<h1>Master Projects</h1>

<% @projects.each do |project|  %>
		<div class="card">
			<header class="card-header">
					<p class="card-header-title">
							<%= project.title  %>
					</p>
			</header>
			<footer class="card-footer">
							<%= link_to 'Destroy', project_path(project),
									data: { :confirm => 'Are you sure?' }, :method => :delete,
									:class => "card-footer-item"%>
							<%= link_to 'Edit', edit_project_path(project),
									:class => "card-footer-item"%>

		</footer>
		</div><br>
<% end  %>

<%= will_paginate @projects  %>
