<div class="container project-show-page">
		<section class="hero is-dark" >
				<div class="hero-body" >
						<h1 class="title">
							<%= @project.title  %>
						</h1>
						<h6 class="subtitle">
							<%= @project.created_at.to_time.strftime('Published: %B %e,&nbsp; %Y').html_safe  %>
						</h6>
				</div>
		</section>
</div>
<div class="project-show-page" id="project-body">
		<% if not @project.thumbnail.file.nil?  %>
				<%= image_tag(@project.thumbnail.url) %>
		<% end  %>
		<%= raw @project.body  %><hr>
		<% if not @project.download.file.nil?  %>
				<div class="has-text-centered">
						<p style="display:inline">Download project files here: </p><a href="<% @project.download.url  %>"><%= @project.download.file.filename  %></a><hr>
				</div>
		<% end  %>
</div>
