// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main-title {
		text-align: center;
}

#project-body {
		background-color: white;

		img {
				max-width: 100%;
				height: auto;
		}
}

#project-card {
}
