<!DOCTYPE html>
<html>
  <head>
    <title>Derekthemaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, intiial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</style>
  </head>

  <body>
		  <nav class="navbar">
				  <div class="container">
						  <div class="navbar-brand">
								  <a class="navbar-item" href="/" style="font-weight:bold">
										  Derekthemaker
								  </a>
								  <span class="navbar-burger burger" data-target="navMenu">
										  <span></span>
										  <span></span>
										  <span></span>
								  </span>
						  </div>
						  <div id="navMenu" class="navbar-menu">
								  <div class="navbar-end">
										  <a href="/" class="navbar-item" "is-active">Home</a>
										  <a href="/downloads" class="navbar-item">Downloads</a>
										  <a href="/about" class="navbar-item">About</a>
								  </div>
						  </div>
				  </div>
		  </nav><br>
		<script type="text/javascript">
				(function() {
						var burger = document.querySelector('.burger');
						var nav = document.querySelector('#'+burger.dataset.target);

						burger.addEventListener('click', function(){
								burger.classList.toggle('is-active');
								nav.classList.toggle('is-active');
						});
				})();
		</script>
		<div class="container">
			<%= yield  %>
		</div>
  </body>

  <footer id="footer">
	  <div class="content has-text-centered">
		  <p>
			  This website is still a work in progress. More content and UI tweaks coming soon
		  </p>
	  </div>
  </footer>
</html>
